Repository kurianvijay/acebook-facebuzz-react, pull requests merged in 2019-11, with the labels that each got.

#7 Add bootstrap link to project
  package-lock.json
  package.json
  src/components/comments.jsx
Labels: Comments

#9 Setup/basic grid css with placeholder components
  package.json
  src/App.css
  src/App.js
  src/App.jsx
  src/components/PlaceholderNavbar.jsx
  src/components/PlaceholderPosts.jsx
  src/components/PlaceholderSidebar.jsx
  src/index.css
  src/index.js
Labels: Components

#10 Signup form, user profile card, sidebar
  src/App.jsx
  src/components/Sidebar.jsx
  src/components/SignupForm.jsx
  src/components/UserProfile.jsx
  src/components/signup.jsx
  src/index.js
Labels: Components

#11 Posts
  src/App.jsx
  src/components/Like.jsx
  src/components/Post.jsx
  src/components/PostForm.jsx
  src/components/Posts.jsx
Labels: Posts

#12 Login form nav bar
  src/App.jsx
  src/components/Navbar.jsx
  src/components/SignInForm.jsx
  src/index.css
  src/index.js
  src/logo.svg
Labels: Users, app

#13 Component integration
  src/App.jsx
  src/components/Navbar.jsx
  src/components/Post.jsx
  src/components/PostForm.jsx
  src/components/Posts.jsx
Labels: Components, enhancement

#21 Testing/new user tests
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/examples/actions.spec.js
  cypress/integration/examples/aliasing.spec.js
  cypress/integration/examples/assertions.spec.js
  cypress/integration/examples/connectors.spec.js
  cypress/integration/examples/cookies.spec.js
  cypress/integration/examples/cypress_api.spec.js
  cypress/integration/examples/files.spec.js
  cypress/integration/examples/local_storage.spec.js
  cypress/integration/examples/location.spec.js
  cypress/integration/examples/misc.spec.js
  cypress/integration/examples/navigation.spec.js
  cypress/integration/examples/network_requests.spec.js
  cypress/integration/examples/querying.spec.js
  cypress/integration/examples/spies_stubs_clocks.spec.js
  cypress/integration/examples/traversal.spec.js
  cypress/integration/examples/utilities.spec.js
  cypress/integration/examples/viewport.spec.js
  cypress/integration/examples/waiting.spec.js
  cypress/integration/examples/window.spec.js
  cypress/integration/new_post.spec.js
  cypress/integration/new_user.spec.js
  cypress/plugins/index.js
  cypress/screenshots/All Specs/my-image.png
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/App.css
  src/components/Navbar.jsx
  src/components/PlaceholderNavbar.jsx
  src/components/PlaceholderPosts.jsx
  src/components/PlaceholderSidebar.jsx
  src/components/PostForm.jsx
  src/components/SignupForm.jsx
  src/components/UserProfile.jsx
Labels: Testing
